@font-face {
  font-family: "zkqkhy";
  src: url("HYTianZhenTi.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
  font-size: large;
}
html {
  background-image: url("https://www.cssanyu.org/2020/questionnaire/bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(149, 128, 255);
  height: 100%;
}

body {
  color: #ffffff;
  background-color: rgb(149, 128, 255, 0);
  font-family: "zkqkhy";
}

.btn {
  color: #ffffff;
  background-color: rgb(149, 128, 255, 1);
  border: solid;
  border-width: 1px;
  margin: 10px;
  /* font-family: "zkqkhy"; */
  font-size: x-large;
}

.btn:hover {
  color: #ffffff;
  background-color: rgb(149, 128, 255, 1);
  /* font-family: "zkqkhy"; */
  font-size: x-large;
}

.test-start {
  margin-top: 30%;
  text-align: center;
  color: #fff681;
  /* font-family: "zkqkhy"; */
  font-size: xx-large;
}

.test-start h1 {
  font-size: 80px;
}
.test-start h2 {
  font-size: 50px;
}

.start-btn, .start-btn:hover, .start-btn:active{
  margin-top: 20%;
  font-size: 40px;
  /* font-family: "zkqkhy"; */
}

.test-result {
  margin-top: 15%;
  text-align: center;
  /* font-family: "zkqkhy"; */
}

.invitation {
  background-color: rgb(149, 128, 255, 0);
  margin-top: 0%;
  border: none;
}

.question {
  background-color: rgb(149, 128, 255, 0);
  margin-top: 10%;
  border: none;
  color: #fff681;
  /* font-family: "zkqkhy"; */
}

.question .card-body {
  padding: 0%;
}

.card-title {
  font-size: 35px;
}

.form {
   margin-top: 10%;
   text-align: center;
  /* font-family: "zkqkhy"; */
}

.form .form-group {
  text-align: left;
  /* font-family: "zkqkhy"; */
}

.ans-btn-group {
  text-align: center;
  width: 100%;
}

.answer-button {
  margin-bottom: 10px;
  width: 90%;
  text-align: left;
  /* font-family: "zkqkhy"; */
}

.answer-button:active{
  color: #ffffff;
  background-color: rgb(149, 128, 255);
  /* font-family: "zkqkhy"; */
}

.answers {
  margin-top: 10%;
  text-align: left;
  /* font-family: "zkqkhy"; */
}

.mytitle {
  color: #fff681;
  font-family: "zkqkhy";
}

.logo {
  z-index: 1;
  position: fixed;
  bottom: 0%;
  margin: 5%;
  color: #ffffff;
  font-size: small;
}

.invitation-text {
  display: block;
  height: 380px;
  overflow: scroll;
  font-size: 19px;
  /* font-family: sans-serif; */
}

.invitation-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 0;
}
.invitation-subtitle {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}
.invitation-note {
  font-size: 15px;
}

.inv-btn {
  width: 80%;
}

.invitation .answers {
  margin-top: 0;
  text-align: center;
}

.screenshot-text {
  margin-top: 10px;
}

.image-div {
  text-align: center;
}