html {
  background-image: url("https://www.cssanyu.org/2020/questionnaire/bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(145, 132, 247);
  height: 100%;
}

body {
  color: #ffffff;
  background-color: rgb(145, 132, 247, 0);
}


.test-start {
  margin-top: 30%;
  text-align: center;
  color: #fff681;
}

.test-start .btn {
  margin-top: 10%;
}

.test-result {
  margin-top: 20%;
  text-align: center;
}

.invitation {
  background-color: rgb(145, 132, 247, 0);
  margin-top: 20%;
  border: none;
}

.question {
  background-color: rgb(145, 132, 247, 0);
  margin-top: 20%;
  border: none;
  color: #fff681;
}

.btn {
  color: #ffffff;
  background-color: rgb(145, 132, 247, 0.8);
  border: solid;
  border-width: 1px;
  margin: 10px;
}
.btn:hover {
  color: #ffffff;
  background-color: rgb(145, 132, 247, 0.8);
}

.form {
   margin-top: 10%;
   text-align: center;
}

.form .form-group {
  text-align: left;
}

.answer-button {
  margin-bottom: 10px;
  width: 80%;
}

.answer-button:active{
  color: #ffffff;
  background-color: rgb(145, 132, 247);
}

.answers {
  margin-top: 10%;
  text-align: center;
}

/* .invitation {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
} */