.test-start {
  margin-top: 50%;
  text-align: center;
}

.test-start .btn {
  margin-top: 50%;
}

.test-result {
  margin-top: 50%;
  text-align: center;
}

.question {
  margin-top: 50%;
}

.answers .btn-primary {
  margin-bottom: 10px;
  width: 80%;
}

.answers .btn-primary:hover {
  background-color: #007bff;
}

.answers {
  margin-top: 30%;
  text-align: center;
}
